WebApplication1/service references/ServiceReference2/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.2:8090/DataService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Bll" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Exc" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="par" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Imagefilename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBoxInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTicketInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpAddWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketInfoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TicketTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpAddWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpAddWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ordering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpAtt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpAttResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpAttResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>