WebApplication1/service references/ServiceReference2/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.2:8090/DataService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.2:8090/DataService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.2:8090/DataService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IDataService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IDataService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJson" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBoxInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBoxInfo" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBoxInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBoxInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTicketInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketInfo" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTicketInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EmpAddWork_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpAddWork" />
  </wsdl:message>
  <wsdl:message name="IDataService_EmpAddWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpAddWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Ordering_InputMessage">
    <wsdl:part name="parameters" element="tns:Ordering" />
  </wsdl:message>
  <wsdl:message name="IDataService_Ordering_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderingResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EmpAtt_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpAtt" />
  </wsdl:message>
  <wsdl:message name="IDataService_EmpAtt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpAttResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Hello" message="tns:IDataService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/HelloResponse" message="tns:IDataService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CheckUser" message="tns:IDataService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CheckUserResponse" message="tns:IDataService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetJson" message="tns:IDataService_GetJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetJsonResponse" message="tns:IDataService_GetJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetImage" message="tns:IDataService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetImageResponse" message="tns:IDataService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBoxInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetBoxInfo" message="tns:IDataService_GetBoxInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetBoxInfoResponse" message="tns:IDataService_GetBoxInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTicketInfo" message="tns:IDataService_GetTicketInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTicketInfoResponse" message="tns:IDataService_GetTicketInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpAddWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EmpAddWork" message="tns:IDataService_EmpAddWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EmpAddWorkResponse" message="tns:IDataService_EmpAddWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ordering">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Ordering" message="tns:IDataService_Ordering_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/OrderingResponse" message="tns:IDataService_Ordering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpAtt">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EmpAtt" message="tns:IDataService_EmpAtt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EmpAttResponse" message="tns:IDataService_EmpAtt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IDataService/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IDataService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJson">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoxInfo">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetBoxInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketInfo">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTicketInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpAddWork">
      <soap:operation soapAction="http://tempuri.org/IDataService/EmpAddWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ordering">
      <soap:operation soapAction="http://tempuri.org/IDataService/Ordering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpAtt">
      <soap:operation soapAction="http://tempuri.org/IDataService/EmpAtt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://192.168.1.2:8090/DataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>